.cuadro{
    border: 2px solid #000;
    height: 5vh;
    margin-bottom: 2vh;
    width: 90%;
}
.cuadro1{
    background:#b53471;
}
.cuadro2{
    background:#2aa051;
}
.cuadro3{
    background:#ca5620;
}